<h1>書名一覧</h1>

<ul>
  <% @books.each do |message| %>
    <li><%= link_to message.id, message %></li>
    <li><%= message.book_name %></li>
  <% end %>
</ul>

<h1>著者一覧</h1>
<ul>
  <% @authors.each do |message| %>
  <li><%= link_to message.id, message %>
    <li><%= message.author_name %></li>
  <% end %>
</ul>

<%= form_with(model: @book, local: true) do |f| %>
  <%= f.label :book_name, '書名' %>
  <%= f.text_field :book_name %>
  <%= f.label :author_name, '著者名' %>
  <%= f.text_field :author_name %>

  <%= f.submit '投稿' %>
   redirect_to @books 
<% end %>

